:root {
    /*Colores de texto*/
    --text: #F3F3F3;
    --subtext: #CECECE;
    /*color principal de las interfaces*/
    --main: #161616;
    --main-elevated: #232323;
    --highlight: #2A2A2A;
    --highlight-elevated: #292929;
    --card: #303030;
    --shadow: #252525;
    --selected-row: #CECECE;
    /*colores alternativos para los botones*/
    --button: #3281EA;
    --button-active: #0284E8;
    --button-disabled: #303030;
    /*scrollbar*/
    --scrollbar: #FFFFFF25;
    --scrollbar-hover: #FFFFFF50;
    --scrollbar-highligth: #FFFFFF75;
    /*colores extra*/
    --notification: #3281EA;
    --notification-error: #F05454;
    --notification-warning: #FFD369;
    --notification-confirm: #BEF992;

    /*FORMA*/
    .principal-btn {
        background-color: #acf5ac;   /*COLOR FINAL: BOTON PRINCIPAL*/
        color: rgb(4, 3, 3);
        padding: 10px;
        border-radius: 10px; /*bordes redondos*/
        border: 2px solid #000; /* Borde color negro y de 1 píxel de grosor */
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
        font-family: 'Georgia'; 
      }

      .principal-btn:active{
        background: #F4F7B7; /*COLOR FINAL?*/
        transform: scale(0.10); 
      }

      .principal-btn:hover{
        background: #8ceb88; /*COLOR FINAL? boton CURSOR*/
      }



      /*texto*/
      .btn{
        background: #f1efc9; /*COLOR FONDO FINAL f1efc9*/
      }

      .registro-container{
        background-color: #ffffff;
        width: 400px;
        height: 300px;
        max-width: 100%;
        padding: 30px;
        margin: 50px auto;
        border-radius: 8px; /* Esquinas redondeadas */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      
}