:root {

    /*FORMA*/
    
      .principal-btn {
        background-color: #acf5ac;   /*COLOR FINAL: BOTON PRINCIPAL*/
        color: rgb(4, 3, 3);
        padding: 10px;
        border-radius: 10px; /*bordes redondos*/
        border: 2px solid #000; /* Borde color negro y de 1 píxel de grosor */
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
        font-family: 'Lucida Console'; 
      }

      .principal-btn:active{
        background: #F4F7B7; /*COLOR FINAL?*/
        transform: scale(0.10); 
      }

      .principal-btn:hover{
        background: #8ceb88; /*COLOR FINAL? boton CURSOR*/
      }

      background: #d7d49b; /*FONDO DE PAGINA 



      /*texto*/

      .h1_rosa {
        font-family: 'Lucida Console' ;
        color:#f159fc
      }

      /* Header Styles */
      .header {
        background-color: #BCDFF2;
        padding: 1px 0;
      }

      .header img {
        width: 80px; /* Adjust as needed */
        height: auto;
      }

      .header h1 {
        font-size: 24px; /* Adjust as needed */
        margin-bottom: 2px;
      }

      .header {
        font-size: 16px; /* Adjust as needed */
        line-height: 1.5;
      }

      .container {
        max-width: 98%;
        margin: 0 auto;
        padding: 1px;
        display: flex; /* Use flexbox for positioning */
        justify-content: space-between; /* Distribute space between logo and nav */
        align-items: center; /* Align logo and nav vertically */
      }

      
    }